body {
	background-color: #f5f0e7;
	background-size: cover;
	font-family: "Din Condensed", sans-serif;
	text-align: center;
}

nav a {
	color: #33190f;
	text-transform: uppercase;
	margin-right: 50px;
	font-size: 28px;
}

#slogan {
	font-style: italic;
	padding-bottom: 20px;
}

h1 {
	color: #33190f;
	font-size: 56px;
	text-transform: uppercase;
}

h1 a{
	color: #33190f;
	text-decoration: none;
}

p {
	color: #33190f;
	font-family: Avenir, sans-serif;
	padding-bottom: 10px;
}

section {
	color: #33190f;
	margin-top: 100px;
}

#quote {
	color: #33190f;
	font-style: italic;
	font-size: 48px;
	padding: 50px;
}

hr {
	width: 200px;
}

aside {
	float: right;
	text-align: left;
	padding-left: 600px;
}

article a {
	color: #85221a;
}